<main>
  <div class="row">
      <div class="col-lg-6 fundoPrimario">

          <!--Imagem de Fundo-->
      </div>

      <!--Início Formulário-->

      <div class="col-lg-6 d-flex fundoSecundario">
          <div class="container align-self-center d-flex justify-content-center">
              <form class="d-flex justify-content-center">
                  <div class="align-self-center">
                      <h1 class="display-5 pb-2">Cadastre -se</h1>
                      <p class="lead pb-4">Seja bem vindo(a)!</p>
                      <div>
                        <input class="mb-4" type="text" placeholder="Digite seu nome" />
                    </div>
                      <div>
                          <input class="mb-4" type="email" placeholder="Digite seu email" />
                      </div>
                      <div>
                          <input type="password" placeholder="Digite sua senha" />
                      </div>
                      <button type="button" class="btn btn-primary mt-4">Entrar</button>
                      <p class="text-center pt-3">
                          <a routerLink="/login">Já possui acesso? <b>Entrar</b></a>
                      </p>
                  </div>
              </form>
          </div>
      </div>
      <!--Final Formulário-->
  </div>
</main>
